@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

body {
  background-color: #8cc461;
  height: 100vh;
  overflow-x: hidden;
  font-family: "roboto", sans-serif;
}

.header {
  width: 200px;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 5px;
  color: #ffffff;
  margin-left: 10px;
}

.scoreBoard {
  height: 158px;
  width: 65%;
  display: flex;
  justify-content: space-between;
  border: 3px white solid;
  align-items: center;
  margin: 62px;
  margin-left: 259px;
  border-radius: 13px;
}

.scoreboarddiv {
  display: flex;
  flex-direction: row;
  width: auto;
  color: #ffffff;
  margin-left: 10px;
}

.scorerunner {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  width: 120px;
  padding: 5px;
  text-align: center;
  border-radius: 9px;
  margin: 10px;
  font-weight: 400;
  font-size: 20px;
  color: #656565;
}
.scoreNum {
  font-size: 68px;
  font-weight: 700;
  line-height: 50px;
  margin: 1rem 0 0.5rem 0;
  color: #252525;
}

#yourScore,
#compScore {
  font-size: 60px;
  text-align: center;
  color: black;
}

img {
  height: 90px;
  width: 90px;
  background-color: white;
  border-radius: 50%;
  object-fit: cover;
  padding: 20px;
}

.choices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 130px;
  margin-top: 60px;
  border-radius: 50%;
}
.choices2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  border-radius: 50%;
  position: relative;
  z-index: 1; 
}

.choice,
.choice1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  opacity: 85%;
  cursor: pointer;
  transform: rotate(20deg);
  transition: transform 0.3s ease;
}

#rock {
  background-color: rgb(0, 116, 182);
  padding: 55px;
  z-index: 2;
}

#scissors {
  background-color: rgb(189, 0, 255);
  padding: 55px;
  z-index: 2;
}

#paper {
  background-color: rgb(255, 169, 67);
  padding: 55px;
  z-index: 2;
}

.line {
  display: flex;
  width: 133px;
  border-block-start: 15px solid #000000a3;
  position: absolute;
  top: 331px;
}

.line1 {
  display: flex;
  width: 105px;
  border-block-start: 15px solid #000000a3;
  position: absolute;
  transform: rotate(125deg) translate(68px, -129px);
}

.line2 {
  display: flex;
  width: 105px;
  border-block-start: 15px solid #000000a3;
  position: absolute;
  transform: rotate(232deg) translate(64px, -36px);
}

.ruleBut {
  margin: 49px 20px;
  display: flex;
  justify-content: flex-end;
  padding: 0 2rem 0.5rem 0;
  gap: 30px;
}

.rule {
  padding: 8px 30px;
  border: 2px solid #ffffff;
  outline: none;
  background: transparent;
  font-size: 21px;
  letter-spacing: 3px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
}

.ruleCont {
  display: flex;
  justify-content: flex-end;
}

/* rulebox NONE */
.ruleBox {
  display: block;
  width: 303px;
  height: 324px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #004429;
  padding: 10px 25px;
  border: 10px solid white;
  transform: translate(-104px, -441px);
}

.ruleContent {
  color: white;
  font-size: 29px;
  margin-bottom: 36px;
}

ul {
  font-weight: 400;
  font-size: 13px;
  color: white;
}

ul li::before {
  list-style-type: square;
  color: yellow;
  font-weight: bold;
  display: inline-block;
}
li {
  margin-bottom: 16px;
}

.close {
  width: 69px;
  height: 69px;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: end;
  border-radius: 50%;
  font-size: 58px;
  border: 6px solid white;
  transform: translate(224px, -340px);
}

.user {
  display: flex;
  justify-content: space-around;
  font-size: 17px;
  color: #ffffff;
  margin-top: 230px;
}

p {
  z-index: 1;
}

.userwin {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* gap: 130px; */
  margin-top: 60px;
  border-radius: 50%;
}

.inner-circle {
  box-shadow: 0px 0px 18px 25px darkgreen;
  border-radius: 50%;
}
.mid-circle {
  box-shadow: 0px 0px 18px 50px rgb(40, 159, 40);
  border-radius: 50%;
}

.outer-circle {
  box-shadow: 0px 0px 18px 80px rgb(91, 170, 91);
  border-radius: 50%;
}

.userwin1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translate(10px, -94px);
  letter-spacing: 3px;
}

.youwin {
  font-weight: 800;
  font-size: 39px;
  color: #ffffff;
}

.againstpc {
  font-weight: 800;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 15px;
}

.playagain {
  width: 175px;
  height: 44px;
  border-radius: 9px;
  color: #6b6b6b;
  outline-width: 0;
}

.nextbut {
  margin: 20px;
  display: flex;
  justify-content: flex-end;
  padding: 0 2rem 0.5rem 0;
}

.next {
  padding: 8px 30px;
  border: 2px solid #ffffff;
  outline: none;
  background: transparent;
  font-size: 21px;
  letter-spacing: 3px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
}

.scoreBoard1 {
  height: 158px;
  width: 65%;
  display: flex;
  justify-content: space-between;
  border: 3px white solid;
  align-items: center;
  margin: 62px;
  margin-left: 259px;
  border-radius: 13px;
  transform: translate(0px, 128px);
}

.scoreboarddiv1 {
  display: flex;
  flex-direction: row;
  width: auto;
  color: #ffffff;
  margin-left: 10px;
}

.scorerunner1 {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  width: 120px;
  padding: 5px;
  text-align: center;
  border-radius: 9px;
  margin: 10px;
  font-weight: 400;
  font-size: 20px;
  color: #656565;
}
.scoreNum1 {
  font-size: 68px;
  font-weight: 700;
  line-height: 50px;
  margin: 1rem 0 0.5rem 0;
  color: #252525;
}

.userwin1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translate(10px, -94px);
  letter-spacing: 3px;
}

.tie {
  font-weight: 800;
  font-size: 39px;
  color: #ffffff;
  margin-bottom: 35px;
}

.container1 {
  display: none;
}
