@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #8cc461;
  height: 60vh;
  font-family: "roboto", sans-serif;
  overflow-x: hidden;
}

.star {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

.cup {
  transform: translate(0px, -196px);
}

.wonBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

h1 {
  font-size: 91px;
  font-weight: 600;
  transform: translate(0px, -173px);
  letter-spacing: 6px;
}

h3 {
  font-weight: 600;
  transform: translate(0px, -164px);
  font-size: 41px;
  letter-spacing: 4px;
}

.playagain {
  transform: translate(0px, -113px);
  width: 175px;
  height: 44px;
  border-radius: 9px;
  color: #6b6b6b;
  outline-width: 0;
  font-size: 15px;
  letter-spacing: 1px;
}

.ruleBut {
  margin: 49px 20px;
  display: flex;
  justify-content: flex-end;
  padding: 0 2rem 0.5rem 0;
  gap: 30px;
  transform: translate(0px, -163px);
}

.rule {
  padding: 8px 30px;
  border: 2px solid #ffffff;
  outline: none;
  background: transparent;
  font-size: 21px;
  letter-spacing: 3px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
}
